/* 
Colors:
Dark Blue - #1f3044
Lighter Blue - #1d3394
Light Grey - 
White - 

*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #CED3DC;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* Header and Footer */
/* Header & Nav */
header {
    background-color: #1d3394;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99;
    border-bottom: 2px solid #363636;
}

#navbar {
    display: flex;
    width: 80%;
    max-width: 1600px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

nav {
width: 30%;
display: flex;
justify-content: center;
}

a.navbar {
    padding: 24px 48px;
}

a.navbar:hover {
    background-color: #1f3044;
}

img.logo {
    width: 100%;
    padding: 6px;
    background-color: #FCF7F8;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #0d0a0b0c;
    transition: 0.2s;
    max-width: 40px;
}

img.logo:hover {
    box-shadow: 2px 2px 2px #0D0A0B;
}

/* Footer */
footer {
    background-color: #363638;
    margin: 0;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    color: white;
}

div.footer-legal {
    display: flex;
    justify-content: space-around;
    align-items: start;
    bottom: 0;
    margin: 20px;
    max-width: 1600px;
    width: 50%;
    margin: auto;
}


/* Main Content and Global*/

main {
    width: 100%;
    max-width: 1600px;
    margin: 100px auto;
}

.quote {
    font-style: italic;
}

hr {
    border: 1px solid #363636;
    margin: 60px auto;
    width: 90%;
}

h2 {
    font-size: 2em;
    padding-top: 48px;
}

h1 {
    font-size: 2.5em;
}

/* First Part */

#first {
    text-align: center;
    background-color: #FCF7F8;
    border-radius: 24px;
    width: 100%;
    margin: auto;
}

#car-showcase {
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.vertical {
    width: 25%;
}

.vertical img {
    width: 100%;
    max-width: 320px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

/* Horizontal Projects */



.horizontal {
    display: flex;
    margin: 100px auto;
    width: 90%;
    padding-bottom: 50px;

}

.horizontal p {
    padding: 0 40px;
    text-align: justify;
    margin-top: 12px;
    font-size: 1.2em;
}

.horizontal img {
    max-width: 30%;
    border-radius: 12px;
}

/* Skills */

#skills h2 {
    text-align: center;
}

.skills-container {
    background-color: #FCF7F8;
    border-radius: 24px;
    width: 100%;
    margin: 48px 0;
    display: flex;
    justify-content: left;
}

.skills-img {
    width: 400px;
    height: 400px;
    padding: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.skills-text {
    padding: 20px 200px;
    font-size: 1.3em;
}


/* Temp */

#bottom {
    width: 100%;
    display: flex;
    justify-content: center;

}

#bottom svg {
    width: 2em;
    margin: 15px;
}